section.hero
	include ../blocks/_header
	.hero__hero-image
		.hero-image__wrapper
			.hero-image__layer-coin.animate.active
				img(src="images/heo-images/ellipce.png", alt="", srcset="")
			.hero-image__layer-chess-figure-4.animate.active
				img(src="images/heo-images/chess-figure-4.png", alt="")
			.hero-image__layer-chess-figure-3.animate.active
				img(src="images/heo-images/chess-figure-3.png", alt="")
			.hero-image__layer-city.animate.active
			.hero-image__layer-chess-figure-2.animate.active
				img(src="images/heo-images/chess-figure-2.png", alt="")
			.hero-image__layer-chess-figure-1.animate.active
				img(src="images/heo-images/chess-figure-1.png", alt="")
	.container
		.hero__wrapper
			.hero__hero-title
				h1.hero-title__title
					span Превратите уездный город
					span в столицу
					span земного шара
				p.hero-title__decription Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам
				.hero-title__hero-buttons
					a(href="#invite").hero-buttons__button--default Поддержать шахматную мысль
					a(href="#location").hero-buttons__button--primary Подробнее о турнире