section.invite
	.container
		.invite__wrapper
			.invite__title
					| Чтобы поддержать Международный васюкинский турнир
					img.invite__image(src="images/invite-image.png", alt="походит чемпионат по шахматам") 
					| посетите лекцию на тему: 
					span «Плодотворная дебютная идея»