section.location(id="location")
	.container 
		.location__wrapper
			.location__location-image
				img(src="images/location-image.jpg", alt="")
			.location__location-info
				.location-info__main-title
					p
						|и Сеанс 
						span одновременной игры в шахматы на 160 досках 
						|гроссмейстера О. Бендера
				.location-info__info-table
					.info-table__table-row
						.info-table__name Место проведения:
						.info-table__text Клуб «Картонажник»
					.info-table__table-row
						.info-table__name Дата и время мероприятия:
						.info-table__text 22 июня 1927 г. в 18:00
					.info-table__table-row
						.info-table__name Стоимость входных билетов:
						.info-table__text 20 коп.
					.info-table__table-row
						.info-table__name Плата за игру:
						.info-table__text 50 коп.
					.info-table__table-row
						.info-table__name Взнос на телеграммы:
						.info-table__text 
							del
								span 100 руб.
							|&nbsp;21 руб. 16 коп.
				.location-info__additional
					p По всем вопросам обращаться в администрацию к К. Михельсону