section.partic
	.container
		.partic__wrapper
			.partic__slider
				.partic__title 
					h2 Участники турнира
				.partic-slider-controls
					button.partic-prev
						<svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M10.5382 18.4614L2.07666 9.99989L10.5382 1.53835" stroke="white" stroke-width="2" stroke-linecap="square" />
						</svg>
					button.partic-next
						<svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.4618 1.53845L9.92334 9.99999L1.4618 18.4615" stroke="white" stroke-width="2" stroke-linecap="square" />
						</svg>
				.partic__slides
					.partic-slider__slide
						.partic__partic-photo
							img(src="images/partic-image.png", alt="Изображение участника")
						.partic__partic-name
							p Хозе-Рауль Капабланка
						.partic__partic-rank
							p Чемпион мира по шахматам
						.partic__details Подробнее

					.partic-slider__slide
						.partic__partic-photo
							img(src="images/partic-image.png", alt="Изображение участника")
						.partic__partic-name
							p Эммануил Ласкер
						.partic__partic-rank
							p Чемпион мира по шахматам
						.partic__details Подробнее

					.partic-slider__slide
						.partic__partic-photo
							img(src="images/partic-image.png", alt="Изображение участника")
						.partic__partic-name
							p Александр Алехин
						.partic__partic-rank
							p Чемпион мира по шахматам
						.partic__details Подробнее

					.partic-slider__slide
						.partic__partic-photo
							img(src="images/partic-image.png", alt="Изображение участника")
						.partic__partic-name
							p Арон Нимцович
						.partic__partic-rank
							p Чемпион мира по шахматам
						.partic__details Подробнее

					.partic-slider__slide
						.partic__partic-photo
							img(src="images/partic-image.png", alt="Изображение участника")
						.partic__partic-name
							p Рихард Рети
						.partic__partic-rank
							p Чемпион мира по шахматам
						.partic__details Подробнее

					.partic-slider__slide
						.partic__partic-photo
							img(src="images/partic-image.png", alt="Изображение участника")
						.partic__partic-name
							p Остап Бендер
						.partic__partic-rank
							p Гроссмейстер
						.partic__details Подробнее