section.stages 
	.container 
		.stages__stages-title
			h2 Этапы преображения Васюков
				span Будущие источники обогащения васюкинцев
		.stages__stages-elements
			.stages-elements__element
				.stages-elements__element-num 1
				p Строительство железнодорожной магистрали Москва-Васюки
			.stages-elements__element
				.stages-elements__element-num 2
				p Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов
			.stages-elements__element
				.stages-elements__element-num 3
				p Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов, икры, шоколадных конфет
			.stages-elements__element
				.stages-elements__element-num 4
				p Строительство дворца для турнира
			.stages-elements__element
				.stages-elements__element-num 5
				p Размещение гаражей для гостевого автотранспорта
			.stages-elements__element
				.stages-elements__element-num 6 
				p Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов
			.stages-elements__element
				.stages-elements__element-num 7 
				p Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и дирижаблей во все концы света, включая Лос-Анжелос и Мельбурн
			img.stages-elements__element-aeroplan(src="images/aeroplan.png", alt="Аэроплан")
		.stages-elements-controls
			button.stages-prev
				<svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M10.5382 18.4614L2.07666 9.99989L10.5382 1.53835" stroke="white" stroke-width="2" stroke-linecap="square" />
				</svg>
			.stages-elements__dots
			button.stages-next
				<svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.4618 1.53845L9.92334 9.99999L1.4618 18.4615" stroke="white" stroke-width="2" stroke-linecap="square" />
				</svg>