doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="stylesheet", href="css/main.css")
		script(src="js/main.js" defer)
	body
		include blocks/hero
		include blocks/_ticker
		include blocks/invite
		include blocks/location
		include blocks/stages
		include blocks/partic
		include blocks/_ticker
		include blocks/footer