// Section Hero Buttons
a[class|='hero-buttons__button'] {
	display: block;
	max-width: 263px;
	text-decoration: none;
}

a[class*='__button'] {
	border-radius: 66px;
	padding: 15px 49px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	transition: all ease-in-out .35s ;

	&[class*='--default'] {
		background: #1f1f1f;
		color: #ffffff;
		&:hover{
			background: #fbce51;
			color: #1f1f1f;
		}
	}

	&[class*='--primary'] {
		border: 2px solid #1f1f1f;
		color: #1f1f1f;
		&:hover{
			background: #1f1f1f;
			color: #fff;
		}
	}
}

.partic-slider-controls {
	display: flex;

	.partic-prev,
	.partic-next {
		background: #313131;
		border-radius: 100%;
		border: none;
		outline: none;
		transition: all ease-in-out .35s ;
		&:hover{
			background: #fbce51;
		}
	}

	.partic-prev {
		padding: 12px 19px 12px 16px;
	}

	.partic-next {
		padding: 12px 16px 12px 19px;
	}
}
.partic__details {
	border: 1px solid #3057a2;
	border-radius: 62px;
	padding: 12px;
	font: 500 16px / 120% var(--font-family);
	color: #3057a2;
	cursor: pointer;
	transition: all ease-in-out .35s ;
	&:hover{
		background: #3057a2;
		color: #fff;
	}
}

.stages-elements-controls {
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;

	.stages-prev,
	.stages-next {
		background: #313131;
		border-radius: 100%;
		border: none;
		outline: none;
		&:hover{
			background: #fbce51;
	}
	&.disabled{
		background: #d6d6d6;
	}
	}

	.stages-prev {
		padding: 12px 19px 12px 16px;
	}

	.stages-next {
		padding: 12px 16px 12px 19px;
	}
}